/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    font-family: 'Asap', sans-serif;
    max-width: 1670px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
}


/* Columntitle start */

.wrapper {
    background-color: #0E77AF;
}

.columntitle {
    max-width: 1170px;
    margin: 0 auto;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

}

.media {
    margin-right: 21px;
}

.mail {
    color: #ffff;
    font-size: 12px;
}

/* Columntitle end */

/* Navigation and logo start */
.container {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    margin: 6px;
    text-transform: uppercase;
}

.navigation:hover {
    font-weight: bold;
}

.phone-zone {
    display: flex;
    justify-content: space-between;
}
.phone-image {
    margin-right: 12px;
}
.ca {
    font-size: 14px;
    color: #7D7D7D;
}

/* Navigation and logo end */

/* Priview start */

.preview {
    background-image: url(img/preview.jpg);
    width: 1667px;
    height: 647px;
    position: relative;
    margin-bottom: 85px;
}

.phys {
    font-size: 28px;
    margin-bottom: 20px;
}

.prom {
    font-weight: 700;
    font-size: 84px;
}

.txt {
    font-size: 32px;
    margin-bottom: 40px;
}

.reach {
    position: relative;
    background-color: #B4141B;
    width: 284px;
    height: 74px;
}

.us {
    position: absolute;
    top: 27px;
    left: 80px;
    color: #ffff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 24px;
}

.preview__text {
    position: absolute;
    top: 150px;
    left: 830px;
}

.left__uk {
    position: absolute;
    top: 317px;
    left: 90px;
}

.right__uk {
    position: absolute;
    top: 317px;
    right: 90px;
}

/* Preview end */

/* Information block start */

.container-1 {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 135px;
}

.ab-us,
.why-us {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 56px;
}

.about {
    width: 772px;
    margin-right: 50px;
}
.docs {
    margin-bottom: 39.06px;
}

.about__text {
    font-size: 16px;
    width: 772px;
    height: 223px;
    line-height: 29px;
}

.depend {
    width: 350px;
    height: 240px;
    background-color: #F7F7F7;
    position: relative;
}
.reasons {
    font-weight: 700;
    font-size: 24px;
    color: #0E77AF;
    padding-top: 45px;
    margin-left: 37px;
    margin-bottom: 17px;
}

.depend__text {
    margin-left: 37px;
    font-size: 16px;
    margin-bottom: 25px;
    width: 284px;
}

.sheld {
    position: absolute;
    top: 40px;
    right: 18px;
}

.rm {
    color: #7D7D7D;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    margin-left: 37px;
    
}

.rm:hover {
    color: #c7c7c7
}

.open {
    width: 350px;
    height: 240px;
    background-color: #F3F3F3;
    position: relative;
}

.open__text {
    margin-left: 37px;
    font-size: 16px;
    margin-bottom: 25px;
    width: 284px;
}

.net {
    position: absolute;
    top: 45px;
    right: 22px;
}

.connect {
    width: 350px;
    height: 240px;
    background-color: #F7F7F7;
    position: relative;
}

.connect__text {
    margin-left: 37px;
    font-size: 16px;
    margin-bottom: 25px;
    width: 284px;
}

.cone {
    position: absolute;
    top: 52px;
    right: 22px;
}

/* Information block end */

/* Benefits block start */




.practice,
.billing,
.control {
    display: inline-block;
    width: 440px;
    height: 25px;
    background-color: #0E77AF;
    opacity: 0.9;
    color: white;
    font-weight: 700;
    font-size: 22px;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 34px;
}

.left-block {
    background-image: url(img/doctor.jpg);
    background-repeat: no-repeat;
    width: 877px;
    height: 504px;
    position: relative;
}

.practice,
.billing {
    margin-bottom: 21px;
    
}

.benefits {
    margin-bottom: 130px;
    display: flex;
    justify-content: space-between;
}

.benefits__links {
    display: flex;
    flex-direction: column;
    margin-top: 87px;
    margin-left: 403px;

}

.practice:hover,
.billing:hover,
.control:hover {
    background-color: #ffff;
    color: #000;
}

.benefits__right-block {
    width: 790px;
    height: 504px;
    background-color: #F8F8F8;
}

.benefits__right-block__text {
    margin-top: 77px;
    margin-left: 65px;
}

.benefits__right-block__caption {
    font-weight: 700;
    font-size: 32px;
    line-height: 37.67px;
    margin-bottom: 10px;
}

.benefits__right-block__subtitle {
    color: #9B9B9B;
    font-size: 24px;
    line-height: 27.5px;
    margin-bottom: 38px;
}

.benefits__right-block__list {
    list-style-type: disc;
    width: 454px;
    line-height: 29px;
    font-size: 16px;
    margin-bottom: 55px;
}

.read-more {
    background-color: #B4141B;
    color: #ffff;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    width: 104px;
    height: 35px;
    border: none;
}

/* Benefits block end */

/* Services and Security block start */


.service-security-block {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 161px;
}
.service {
    width: 592px;
}
.service__title {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 9px;
}

.service__subtitle {
    font-size: 24px;
    color: #9B9B9B;
    margin-bottom: 67px;
}

.service__item-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px;
    border-bottom: 1px solid #979797;
    margin-bottom: 32px;
}

.service__item-1__title {
    font-weight: 700;
    color: #0E77AF;
    font-size: 24px;
}

.service__item-1__description {
    display: flex;
    justify-content: space-between;
    margin-bottom: 42px;
}

.service__image {
    margin-right: 20px;
}

.service__item-1__description__text__paragraph {
    font-size: 16px;
    line-height: 29px;
    font-weight: 400;
    margin-bottom: 29px;
}

.rm-1 {
    text-transform: uppercase;
    color: #7D7D7D;
    font-weight: 700;
    font-size: 12px;
}

.service__item-2 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
    border-bottom: 1px solid #979797;
    margin-bottom: 31px;
    align-items: center;
}

.service__item-2__title {
    font-weight: 700;
    color: #0E77AF;
    font-size: 24px;
}

.service__item-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 29px;
    border-bottom: 1px solid #979797;
}

.service__item-3__title {
    font-weight: 700;
    color: #0E77AF;
    font-size: 24px;
}

.security {
    margin-left: 97px;
    width: 474px;
}

.security__title {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 9px;
}

.security__subtitle {
    color: #9B9B9B;
    font-size: 24px;
    margin-bottom: 47px;
}

.security__image {
    margin-bottom: 58px;
}

.security__paragraph {
    font-size: 16px;
    line-height: 29px;
    margin-bottom: 47px;
}

.security__button {
    background-color: #B4141B;
    color: #ffff;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    width: 104px;
    height: 35px;
    border: none;
}

/* Service and security block end */

/* Testimonials block start */

.big-testimonial-block {
    width: 1667px;
    height: 650px;
    background-color: #0E77AF;
    margin-bottom: 125px;
}

.testimonial-block {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.testimonial__inform {
    
    margin-top: 150px;
    color: #ffff;
}

.testimonials-inform__title {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 9px;
}

.testimonials-inform__subtitle {
    font-size: 24px;
    line-height: 27,5px;
    width: 189px;
    margin-bottom: 100px;
}
.prec {
    font-weight: 700;
    font-size: 64px;
    line-height: 73,34px;
    margin-bottom: 10px;
}

.pay {
    font-size: 28px;
    width: 245px;
    margin-bottom: 60px;
}

.np {
    font-size: 28px;
    margin-bottom: 141px;
}

.testimonial__example {
    width: 734px;
    height: 356px;
    margin-top: 148px;
    background-color: #ffff;
    margin-left: 207px;
}
.testimonial__example__title {
    font-weight: 700;
    font-size: 20px;
    margin-top: 75px;
    margin-left: 59px;
    margin-bottom: 25px;
}

.testimonial__example__text {
    font-size: 16px;
    line-height: 29px;
    margin-left: 59px;
    margin-bottom: 60px;
    width: 630px;
}

.testimonial__example__name {
    font-size: 16px;
    font-weight: 700;
    margin-left: 59px;
}